@import url(/web/blueForm.css);
@import url(/web/blueTable.css);


/*form*/
.ls-container .permissionItem{
    margin-top: 1.25rem;
}
.ls-container .permissionItem>span{
    display: inline-block;
    vertical-align: middle;
}

.ls-container .subBtn{
    padding: 0 37px;
}
.ls-container .subBtn-wrap{
    /*border-top:1px solid #c1c1c1;*/
    background: #eeeeee;
    margin:0;
    padding: 2rem 0 3.5rem 0;
}
/*table*/

.ls-container .layui-form-item.setPermission .layui-input-inline {
    width: 290px;
}

