#main
{
	min-width:960px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#about_left
{
	width:180px;
	border:1px solid #ececec;
	height:552px;
	background:#f6f6f6;
	float:left;
}

#about_left li
{
	height:38px;
	border-bottom:1px solid #ececec;
	line-height:38px;
}

#about_left a
{
	display:block;
	line-height:38px;
	padding-left:13px;
	width:166px;
	color:#666666;
}

#about_left .active
{
	display:block;
	line-height:38px;
	background-image:url(/mirror/img/red_arrow.gif);
	background-position:160px center;
	background-repeat:no-repeat;
	background-color:#FFF;
	color:#00a1ea;;

}
#about_left .active a{
	color:#00a1ea;;
}

#about_left a:hover
{
	display:block;
	line-height:38px;
	background-image:url(/mirror/img/red_arrow.gif);
	background-position:160px center;
	background-repeat:no-repeat;
	background-color:#FFF;
	color:#00a1ea;;

}

#about_right
{
	width:725px;
	float:right;
	background:url(/mirror/img/xielogo.png) right top no-repeat;
	padding:26px;
	border:1px solid #ececec;
	margin-left: -1px;
	font-family:微软雅黑;
	line-height:22px;
	min-height:500px;


}