.page1 {
	background: url(../img/bg1.jpg) no-repeat center;
	background-size: cover !important;
	height: 886px;
}
/*.page1 .nav{

	background: url(../img/img4.png) repeat-x center; height: 32px; position: absolute; left: 0; right: 0; bottom: -60px; text-align: center;

	-webkit-transition: all 1s;

    -moz-transition: all 1s;

    -o-transition: all 1s;

    transition: all 1s;

}

.page1.active .nav{

	bottom: 40px;

}

.page1 .nav li{

	display: inline; margin: 0 75px;

}

.page1 .nav li a{

	background: url(../img/img3.png) no-repeat center; width: 32px; height: 32px; display: inline-block;

}

.page1 .nav li.selected a{

	background-image: url(../img/img2.png);

}*/



.page1 .arrow, .page1 .nav {
	z-index: 2;
}
.page1 .arrow {
	width: 87px;
	height: 87px;
	position: absolute;
	left: 50%;
	margin-left: -44px;
	bottom: 110px;
	cursor: pointer;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.page1 .arrow table {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	top: 5px;
}
.page1 .arrow:before, .page1 .arrow:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	pointer-events: none
}
.page1 .arrow:before {
	width: 88px;
	height: 88px;
	border: 1px solid #fff;
	-moz-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-o-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}
.page1 .arrow:after {
	width: 86px;
	height: 86px;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1)
}
.page1 .arrow:hover:before {
	opacity: 0;
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
	-moz-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.page1 .arrow:hover:after {
	opacity: 1;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1)
}
.page2 {
	background: url(../img/bg7.jpg) no-repeat center;
	background-size: cover !important;
	height: 964px;
}
.page2 .wrapper {
	height: 100%;
}
.page2 ul {
	height: 100%;
}
.page2 li {
	width: 25%;
	float: left;
	display: inline;
	text-align: center;
	color: #fff;
	height: 100%;
	position: relative;
	/*css3*/

	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
}
.page2 li .bg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #9a02e0;
	height: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.page2 li.selected .bg {
	height: 100%;
}
.page2 li.l2 .bg {
	background-color: #acd146;
}
.page2 li.l3 .bg {
	background-color: #04afa6;
}
.page2 li.l4 .bg {
	background-color: #f8c200;
}
.page2 li .wrap {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 50%;
	margin-top: -110px;
}
.page2 li .ico {
	width: 109px;
	height: 109px;
	border-radius: 109px;
	margin: 0 auto;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
/*.page2 li.l1 .ico {*/
/*background-image: url(../img/img5.png);*/
/*}*/
/*.page2 li.l2 .ico {*/
/*background-image: url(../img/img6.png);*/
/*}*/
/*.page2 li.l3 .ico {*/
/*background-image: url(../img/img7.png);*/
/*}*/
/*.page2 li.l4 .ico {*/
/*background-image: url(../img/img8.png);*/
/*}*/
.page2 li.selected .ico {
	background-position: center bottom;
}
.page2 li .link {
	text-align: center;
	margin-top: 35px;
}
.page2 li .link a {
	background: url(../img/img41.png) no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
}
.page2 li .img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -200px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
}
.page2 li.selected .img {
	bottom: 0;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page2 li .img img {
	display: block;
	width: 100%;
}
.page2 li a {
	color: #fff;
	text-decoration: none;
}
.page2 li.selected {
}
.page2 li.l1 {
	-webkit-transform: translate3d(-600px, 0, 0);
	-ms-transform: translate3d(-600px, 0, 0);
	transform: translate3d(-600px, 0, 0);
}
.page2 li.l2 {
	-webkit-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}
.page2 li.l3 {
	-webkit-transform: translate3d(300px, 0, 0);
	-ms-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}
.page2 li.l4 {
	-webkit-transform: translate3d(600px, 0, 0);
	-ms-transform: translate3d(600px, 0, 0);
	transform: translate3d(600px, 0, 0);
}
.page2.active li {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page2 li h2 {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}
.page2 li dl {
	margin-top: 18px;
}
.page2 li dd {
	display: inline;
}
.page2 li dd span {
	width: 1px;
	height: 15px;
	display: inline-block;
	background: #fff;
	margin: 0 15px;
}
.page2 li p {
	margin-top: 30px;
	line-height: 24px;
}
.page3 {
	background: url(../img/bg4.jpg) repeat center;
	height: 1040px;
}
.page3 .wrapper {
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -400px;
}
.page3 .head {
	height: 60px;
	position: relative;
	padding-left: 350px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 600ms;
	transition-delay: 600ms;/*opacity: 0;

    -webkit-opacity: 0;

    -moz-opacity: 0;*/
}
.page3.active .head {
	/*opacity: 1;

		-webkit-opacity: 1;

		-moz-opacity: 1;*/

}
.page3 .head .img {
	position: absolute;
	left: -400px;
	top: 0;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	opacity: 0;
	-webkit-opacity: 0;
	-ms-opacity: 0;
}
.page3.active .head .img {
	left: 0;
	opacity: 1;
	-webkit-opacity: 1;
	-ms-opacity: 1;
}
.page3 .head .nav {
	padding-top: 30px;
}
.page3 .head .nav li {
	display: inline;
	margin-right: 30px;
}
.page3 .head .sort {
	position: absolute;
	left: 1500px;
	bottom: 0;
	padding-top: 20px;
	color: #e9930b;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	opacity: 0;
	-webkit-opacity: 0;
	-ms-opacity: 0;
}
.page3.active .head .sort {
	left: 610px;
	opacity: 1;
	-webkit-opacity: 1;
	-ms-opacity: 1;
}
.page3 .head .sort a {
	color: #e9930b;
}
.page3 .head .sort dt {
	position: absolute;
	left: 0;
	top: 0;
}
.page3 .head .sort dd {
	display: inline;
}
.page3 .head .sort dd span {
	margin: 0 10px;
	display: inline-block;
	width: 1px;
	height: 11px;
	background: #f19f1c;
}
.page3 .body {
	margin-top: 45px;
	position: relative;
	top: 0;
}
.page3 .body ul {
	height: auto;
	overflow: hidden;
	width: 105%;
}
.page3 .body li {
	width: 290px;
	height: 190px;
	position: relative;
	float: left;
	display: inline;
	margin-right: 16px;
	margin-bottom: 16px;
	overflow: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-webkit-transform: translate3d(0, 100px, 0);
	-ms-transform: translate3d(0, 100px, 0);
	transform: translate3d(0, 100px, 0);
}
.page3.active .body li {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.page3.active .body li:nth-child(2) {
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
}
.page3.active .body li:nth-child(3) {
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.page3.active .body li:nth-child(4) {
	-webkit-transition-delay: 600ms;
	transition-delay: 600ms;
}
.page3.active .body li:nth-child(5) {
	-webkit-transition-delay: 800ms;
	transition-delay: 800ms;
}
.page3.active .body li:nth-child(6) {
	-webkit-transition-delay: 1000ms;
	transition-delay: 1000ms;
}
.page3.active .body li:nth-child(7) {
	-webkit-transition-delay: 1200ms;
	transition-delay: 1200ms;
}
.page3.active .body li:nth-child(8) {
	-webkit-transition-delay: 1400ms;
	transition-delay: 1400ms;
}
.page3.active .body li:nth-child(9) {
	-webkit-transition-delay: 1600ms;
	transition-delay: 1600ms;
}
.page3.active .body li:nth-child(10) {
	-webkit-transition-delay: 1800ms;
	transition-delay: 1800ms;
}
.page3.active .body li:nth-child(11) {
	-webkit-transition-delay: 2000ms;
	transition-delay: 2000ms;
}
.page3.active .body li:nth-child(12) {
	-webkit-transition-delay: 2200ms;
	transition-delay: 2200ms;
}
.page3 .body li .img img {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.page3 .body li a:hover .img img {
	transform: scale(1.2);
}
.page3 .body li .brand {
	background: rgba(233,148,11,0.83);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
}
.page3 .body li a:hover .brand {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page3 .body li .brand table {
	width: 100%;
	height: 100%;
	text-align: center;
}
.page3 .jian {
	width: 46px;
	height: 46px;
	border-radius: 46px;
	display: inline-block;
	position: relative;
}
.jian:before, .jian:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	pointer-events: none
}
.jian:before {
	width: 46px;
	height: 46px;
	border: 1px solid #f19f1c;
	-moz-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-o-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}
.jian:after {
	width: 46px;
	height: 46px;
	border: 1px solid #f19f1c;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1)
}
.jian:hover:before {
	opacity: 0;
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
	-moz-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.jian:hover:after {
	opacity: 1;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1)
}
.dlay200 {
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
}
.dlay400 {
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
.dlay600 {
	-webkit-transition-delay: 600ms;
	transition-delay: 600ms;
}
.dlay800 {
	-webkit-transition-delay: 800ms;
	transition-delay: 800ms;
}
.dlay1000 {
	-webkit-transition-delay: 1000ms;
	transition-delay: 1000ms;
}
.dlay1200 {
	-webkit-transition-delay: 1200ms;
	transition-delay: 1200ms;
}
.dlay1400  {
	-webkit-transition-delay: 1400ms;
	transition-delay: 1400ms;
}
.dlay1600  {
	-webkit-transition-delay: 1600ms;
	transition-delay: 1600ms;
}
.dlay1800 {
	-webkit-transition-delay: 1800ms;
	transition-delay: 1800ms;
}
.dlay2000 {
	-webkit-transition-delay: 2000ms;
	transition-delay: 2000ms;
}
.dlay2200 {
	-webkit-transition-delay: 2200ms;
	transition-delay: 2200ms;
}
.page4 {
	background: url(../img/bg5.jpg) no-repeat center;
	background-size: cover !important;
	height: 998px;
}
.page4 .wrapper {
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top:-312px;
}
.page4 .animate {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
}
.page4.active .animate{
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}

.page4 .turnleft {
	-webkit-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}
.page4.active  .turnleft{
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.page4 .turndown {
	-webkit-transform: translate3d( 0,-300px, 0);
	-ms-transform: translate3d( 0,-300px, 0);
	transform: translate3d( 0, -300px,0);
}
.page4.active  .turndown{
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.page4 .wen {
	width: 46px;
	height: 46px;
	border-radius: 46px;
	display: inline-block;
	position: relative;
}
.page4 .wen:before, .wen:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	pointer-events: none
}
.page4 .wen:before {
	width: 46px;
	height: 46px;
	border: 1px solid #fff;
	-moz-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-o-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}
.page4 .wen:after {
	width: 46px;
	height: 46px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 0;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-moz-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1)
}
.page4 .wen:hover:before {
	opacity: 0;
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-webkit-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
	-moz-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}
.page4 .wen:hover:after {
	opacity: 1;
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1)
}
.indptwo .wrap{  width: 960px; margin-left: auto; margin-right: auto;  position: relative;  }
.indptwo .pr {  position: relative;  }
.indptwo .fl {  float: left;  }
.indptwo  .fr{  float: right;  }
.indptwo {  height:544px;  background: #efefef;  overflow: hidden;  }
.indptwo .wrap{height:522px;  }
.indptwo .iphone {      width: 692px;  height: 495px;  position: absolute;  left: -161px;  z-index: 6; top: 81px;}
.indptwo .iphone img{      width: 100%;}
.indptwo .pics { margin-left: 38px; height: 100%;  }
.indptwo .words {      width: 341px;  padding-top: 85px;  }

/*.indptwo .dwbtn .ios {  background: #1caa8c url(../img/iosico.png) no-repeat 20px center;  }*/
/*.indptwo .dwbtn .android {  background: #1caa8c url(../img/azico.png) no-repeat 20px center;  }*/
.indptwo .dwbtn {  width: 190px;  }
.indptwo .dwpic i {  display: block;  color: #858072;  font-size: 16px;  padding-bottom: 12px;  }
.indptwo .dwpic {  padding-left: 40px;  }
.indptwo .downcnt {  padding-top: 70px;  }
.indptwo .dwbtn a {  display: block;  height: 51px;  line-height: 51px;  border-radius: 3px;  color: #fff;  font-size: 16px;  padding-left: 60px;  margin-bottom: 23px;  }

.indptwo .shot{width: 392px; height: 351px; position: absolute; top:88px;left: -15px;z-index: 8;}
.indptwo .lines{    width: 178px;
	height: 69px;
	position: absolute;top: 104px;left: 85px;
	z-index: 10;
	transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	animation: saomiao 2s infinite alternate;
	-webkit-animation: saomiao 2s infinite alternate;}


@keyframes saomiao {from{top: 104px;left: 85px;}  to{ top: 253px;
													  left: 140px;}}
@-webkit-keyframes saomiao {from{top: 104px;left: 85px;}  to{ top: 253px;
															  left: 140px;}}
.indptwo img,.indptwo .words span,.indptwo .words p{display: block;}
.indptwo .words p{padding-top: 66px;}
.indptwo .circular{text-align: center; position: absolute; border-radius: 50%; color: #fff; z-index: 9;-webkit-animation:bounceInDown 1s .2s ease both; -moz-animation:bounceInDown 1s .2s ease both;}
.indptwo .lis1{ width: 72px; height: 72px; background:rgba(20,20,20,.9); left: -50px; top:128px; line-height: 26px; font-size: 16px; padding-top: 10px;}
.page4 .lis1.wen:before,.page4 .lis1.wen:after{width: 72px;height:72px;}
.indptwo .lis2{ width: 68px; height: 68px; background: rgba(4,193,146,.9); left: -50px; top: 336px; line-height: 26px; font-size: 14px; padding-top: 8px;}
.page4 .lis2.wen:before,.page4 .lis2.wen:after{width: 68px; height: 68px;}
.indptwo .lis3{ width: 40px; height: 40px; background:rgba(27,198,155,.9) ; left:  287px; top: 88px; line-height: 40px; font-size: 13px;}
.page4 .lis3.wen:before,.page4 .lis3.wen:after{width: 40px; height: 40px; }
.indptwo .lis4{ width: 72px; height: 72px; background: rgba(9,9,9,.9); left: 313px; top: 206px; font-size: 13px; line-height: 22px; padding-top: 12px;}
.page4 .lis4.wen:before,.page4 .lis4.wen:after{width: 72px;height:72px;}
.indptwo .lis5{ width: 100px; height: 100px; background: rgba(4,193,146,.9); left: 248px; top: 403px; line-height: 36px; font-size: 20px; padding-top: 15px;}
.page4 .lis5.wen:before,.page4 .lis5.wen:after{width: 100px; height: 100px;}
.indptwo .lis6{ width: 50px; height: 50px; background: rgba(14,14,14,.9); left: 386px; top: 348px; line-height: 20px; font-size: 13px; padding-top: 5px;}
.page4 .lis6.wen:before,.page4 .lis6.wen:after{width: 50px; height: 50px; }
.indptwo .dwpic img{ display: block;}
.indptwo .circular{  box-sizing: border-box;  }

.page5 {
	background: url(../img/bg6.jpg) no-repeat center;
	background-size: cover !important;
	height: 1115px;
}
.page5 .wrapper {
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -320px;
}
.page5 .img-wrap {
	width: 500px;
	float: left;
	display: inline;
	border-top: #fff solid 2px;
	position: relative;
	padding-top:80px;
}
.page5 .text, .page5 .nav li ,.page5 .tele{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
}
.page5.active .text, .page5.active .nav li {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page5 .tele {
	position: absolute;
	left: 0px;
	top: 0px;
}
.page5.active .tele{
	left: 20px;
	top: 360px;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page5 .tele img {
	display: block;
}
.page5 .tele .qq {
	margin-top: 30px;
}

.page5 .img-wrap .quan, .page5 .img-wrap .wen {
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	opacity: 0.9;
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
}
.page5.active .img-wrap .quan, .page5.active .img-wrap .wen {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
}
.page5 .img-wrap .wen {
	position: absolute;
	left: 160px;
	top: 120px;
	-webkit-transform: translate3d(100px, 0, 0);
	-ms-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}
.page5.active .img-wrap .wen {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.page5 .img-wrap .quan {
	-webkit-transform: translate3d(-100px, 0, 0);
	-ms-transform: translate3d(-100px, 0, 0);
	transform: translate3d(-100px, 0, 0);
}
.page5.active .img-wrap .quan {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.page5 .text {
	width: 260px;
	float: left;
	display: inline;
	margin-left: 40px;
	border-top: #fff solid 1px;
	padding-top: 40px;
	position: relative;
	top: 200px;
	color:#fff;
}
.page5.active .text {
	top: 0;
}
.page5 .text h2 {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
}
.page5 .text p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 26px;
}
.page5 .nav {
	width: 360px;
	margin-left: 40px;
	float: left;
	text-align: right;
}
.page5 .nav li {
	border-top: #fff solid 1px;
	padding-top: 40px;
	padding-bottom: 57px;
	position: relative;
	top: -200px;
}
.page5 .nav li:first-child {
	transition-delay: 0.7s;
	-webkit-transition-delay: 0.7s;
}
.page5 .nav .qr{
	width: 140px;
	height: 128px;
	background-size: 100% 100%;
	display:inline-block;
	background-image: url(../img/erwei.png);
}

.page5.active .nav li {
	top: 0;
}
.page6 {
	/*background: url(/img/bg6.jpg) no-repeat center; */background-size: cover !important;
	height: 900px;
}
.page6 video {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 100%;
}
.page6 .bg {
	background: url(../img/img50.png) repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.page6 .wrapper {
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -205px;
}

.page6 .text {
	height: auto;
	margin-top: 60px;
}
.page6 .time {
	width: 340px;
	float: left;
	display: inline;
	color: #fff;
	font-family: arial;
	line-height: 1;
}
.page6 .time .wrap {
	display: inline-block;
	text-align: center;
}
.page6 .time h2 {
	margin-top: 10px;
	color: #fff;
	font-size: 21px;
}
.page6 .time h4 {
	margin-top: 10px;
}

.page6 .info {
	height: auto;
	overflow: hidden;
	width: 1200px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	bottom: 35px;
	color: #c3c5c3;
}
.page6 .info a {
	color: #c3c5c3;
}
.page6 .info ul {
	width: 340px;
	float: left;
	display: inline;
	font-size: 12px;
}