body {
	color: rgb(85, 85, 85);
	background-color: rgb(250, 250, 250);
}
.cf:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
.templates_list:after, .clear, article:after, section:after, .other_group:after, .filter:after {
	content: "";
	display: block;
	clear: both;
}
.join {
	white-space: normal;
	text-align: center;
}
.join_banner {
	height: 480px;
	background-color: #37373f;
	background-image: url(/mirror/img/join_bg1.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	font-size: 0;
}
.join_banner .img {
	display: inline-block;
	width: 350px;
	position: relative;
	vertical-align: top;
	top: 60px;
}
.join_banner .text {
	display: inline-block;
	width: 550px;
	position: relative;
	vertical-align: top;
	padding-left: 30px;
	top: 127px;
	white-space: normal;
}
.join_banner .text p {
	font-size: 40px;
	color: #fff;
	line-height: 54px;
}
.join_banner .text p:first-child {
	font-size: 40px;
	color: #ffc800;
}
.join_banner .text span {
	color: #ddd;
	font-size: 18px;
	line-height: 26px;
	white-space: normal;
	margin-top: 24px;
	line-height: 30px;
	display: inline-block;
}
.join_2, .join_4, .join_6 {
	position: relative;
	margin: 80px auto;
	width: 900px;
	text-align: center;
}
.join_4 {
	width: 960px;
}
.join_2 .text {
	text-align: center;
	font-size: 18px;
	white-space: normal;
}
.join_2 .text>p {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 30px;
}
.join_info_box {
	background-color: #fff;
	width: 47%;
	float: left;
	vertical-align: top;
}
.join_info_box.no1 {
	margin-right: 6%;
}
.join_info_box>p {
	background: url(/skin/images/join_icon1.png) #bdbdc2 no-repeat right;
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	height: 68px;
	line-height: 68px;
	vertical-align: top;
}
.join_info_box.no2>p {
	background-image: url(/skin/images/join_icon2.png);
}
.join_info_box span {
	display: inline-block;
	padding: 30px 0;
	line-height: 28px;
}
.join_info_box span em {
	font-style: normal;
	color: #ff7e00;
	font-weight: 700;
}
.join h1 {
	font-size: 36px;
	color: #ff9c00;
	margin-bottom: 20px;
	font-weight: 100;
}
.join_3 {
	text-align: center;
	padding-bottom: 180px;
	padding-top: 60px;
	background: url(/mirror/img/join_bg1.png) #fff no-repeat bottom center;
}
.join_3 p {
	font-size: 21px;
}
.join_ser_box {
	width: 22%;
	float: left;
	padding: 10px 1.5%;
}
.join_ser_box p:before {
	content: '';
	width: 140px;
	height: 140px;
	display: block;
	background-image: url(/mirror/img/join_icon.png);
	background-position: 0 0;
	margin: 0 auto;
	margin-bottom: 30px;
}
.join_ser_box.no2 p:before {
	background-position: -140px 0;
}
.join_ser_box.no3 p:before {
	background-position: -280px 0;
}
.join_ser_box.no4 p:before {
	background-position: -420px 0;
}
.join_ser_box p {
	font-size: 30px;
	margin-bottom: 20px;
}
.join_ser_box span {
	font-size: 16px;
	line-height: 26px;
}
.join_5 {
	padding: 80px 0 100px 0;
	color: #fff;
	background-image: url(/mirror/img/join_bg2.jpg);
	background-size: cover;
}
.join_5 h1 {
	color: #fff;
	margin-bottom: 100px;
}
.join_support_box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 480px;
	margin: 0 20px;
	text-align: left;
	border: 2px solid #ffc000;
	padding: 30px;
}
.join_support_box p {
	position: absolute;
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	font-size: 24px;
	font-weight: 700;
	color: #383940;
	background-color: #ffc000;
	top: -48px;
	left: -2px;
}
.join_support_box span {
	font-size: 16px;
	line-height: 30px;
	display: inline-block;
}
.join_6 span {
	display: block;
	font-size: 21px;
	margin: 10px;
	text-indent: 4px;
}
.join_6 a {
	display: inline-block;
	margin-top: 30px;
	font-size: 21px;
	padding: 15px 80px;
	color: #fff;
	background-color: #ff6c00;
	transition: 0.4s;
}
.join_6 a:hover {
	background-color: #ff9c00
}
/*â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” about â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”*/
section.about {
	width: 1100px;
	margin: 120px auto;
	margin-bottom: 0;
}
section.ser {
	width: 100% !important;
	margin: 120px auto;
	padding: 0 10%;
	margin-bottom: 80px;
}
section.about>h3 {
	display: block;
	text-align: center;
	font-size: 36px;
	font-weight: 100;
	color: #42484e;
	margin-bottom: 40px;
	/*font-family: "hero","tt_1",Arial, "MingLiU";*/
	padding: 0;
}
section.about>p:after {
	content: "";
	position: absolute;
	width: 40px;
	height: 3px;
	background-color: #94b733;
	left: 50%;
	top: -24px;
	margin-left: -20px;
}
section.about>p {
	position: relative;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
}
section.map {
	position: relative;
	height: 630px;
	width: 100% !important;
	padding: 80px 0;
	background-color: #363a43;
	background-image: url(/mirror/img/map_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
}
section.map>div h1 {
	font-size: 36px;
	position: relative;
	font-weight: 100;
}
section.map>div h1:after {
	position: absolute;
	content: '';
	width: 60px;
	height: 4px;
	left: 50%;
	top: 62px;
	margin-left: -30px;
	background-color: #97af2b;
}
section.map>div p {
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	margin-top: 36px;
	opacity: 0.8;
}
section.map>p:after {
	display: none;
}
section.map>p {
	position: absolute;
	width: 100%;
	height: 30px;
	font-size: 21px;
	color: #c0e02f;
	text-align: center;
	bottom: 80px;
	left: 0;
}
.w50_l p, .w50_r p {
	font-size: 16px;
	line-height: 36px;
	vertical-align: middle;
}
.about_1 .w50_l p, .about_1 .w50_r p {
	line-height: 28px;
}
.about .w50_l {
	padding: 40px 0;
}
.about .w50_l p:before {
	content: "";
	display: inline-block;
	background-image: url(/skin/images/good.png);
	width: 36px;
	height: 36px;
	margin-right: 10px;
	vertical-align: middle;
}
.ser_group {
	font-size: 0;
	margin-top: 30px;
	text-align: center;
}
.ser_box {
	width: 25%;
	height: 280px;
	margin: 10px 0;
	padding: 0 3%;
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: top;
}
.ser_box img {
	margin-bottom: 10px;
	display: inline-block;
	opacity: 0.5;
}
.ser_box p {
	font-size: 15px;
	color: #888;
}
.ser_box p.title {
	font-size: 21px;
	margin-bottom: 20px;
	color: #333;
}
.ser_a {
	position: absolute;
	left: 50%;
	bottom: 60px;
	width: 50%;
	margin-left: -25%;
	text-align: center;
	height: 56px;
	line-height: 53px;
	color: #fff;
	text-indent: 20px;
	border: 1px solid rgba(255,255,255,.5);
	border-radius: 40px;
	opacity: 0.2;
	transition: 0.4s;
	z-index: 8;
}
.service_box:hover .ser_a {
	opacity: 1;
}
.ser_a:hover {
	border: 1px solid rgba(255,255,255,1);
}
a.ser_a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -60px;
	width: 56px;
	height: 56px;
	background-image: url(/skin/images/icon-qq2.png);
}
.service_box {
	float: left;
	position: relative;
	width: 33.33%;
	padding: 80px 0 140px 0;
	text-align: center;
	color: #fff;
	background-color: #7c7e84;
	transition: 0.4s;
}
.service_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(/skin/images/service_3.jpg);
	background-size: cover;
	opacity: 0;
	filter: Alpha(opacity=0);
	z-index: 1;
	transition: 0.4s;
}
.service_box:first-child {
	background-color: #6f7278;
}
.service_box:first-child .service_bg {
	background-image: url(/skin/images/service_1.jpg);
}
.service_box:last-child {
	background-color: #5f6267;
}
.service_box:last-child .service_bg {
	background-image: url(/skin/images/service_2.jpg);
}
.service_box h5 {
	position: relative;
	font-weight: 100;
	/*font-family: "hero","tt_1",Arial, "MingLiU";*/
	font-size: 33px;
	margin-bottom: 40px;
	z-index: 2;
}
.service_box span {
	position: relative;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 8px;
	color: #ebe6ab;
	z-index: 2;
}
.service_box h5:after, .footer>p:after {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 50%;
	height: 3px;
	width: 30px;
	margin-left: -15px;
	background-color: #fff;
}
.service_info p {
	position: relative;
	font-size: 16px;
	line-height: 30px;
	z-index: 2;
}
.service_box:hover .service_bg {
	opacity: 0.6;
	-ms-filter: Alpha(opacity=60);
}
.text b {
	font-size: 21px;
	margin: 30px 0 10px 0;
	font-weight: 100;
	color: #222;
}
.news_detail .text p {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 26px;
}
/*â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€” footer â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”â€”*/


.case_box {
	position: relative;
	float: left;
	width: 31.33%;
	margin: 0 1%;
	margin-bottom: 40px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}
.case_box:after {
	content: "";
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #25212e;
	opacity: 0;
	-ms-filter: Alpha(opacity=0);
	transition: 0.4s;
	z-index: 2;
}
.case_box img {
	position: relative;
	width: 100%;
	transition: 0.4s;
	z-index: 1;
}
.case_box em {
	font-size: 13px;
	color: #ccc;
	font-style: normal;
}
.case_list .case_box img {
	transform: scale(1.005);
}
.case_box a.view, .case_box a.more {
	position: absolute;
	color: #fff;
	top: 54%;
	left: auto;
	margin-top: -30px;
	display: inline-block;
	line-height: 60px;
	line-height: 60px;
	width: 20%;
	text-align: center;
	border-radius: 40px;
	background-color: rgb(33,33,38);
	background-color: rgba(33,33,38,.7);
	opacity: 0;
	-ms-filter: Alpha(opacity=50);
	transition: 0.3s;
	z-index: 3;
}
.case_box a.view {
	left: 29%;
}
.case_box a.more {
	left: 51%;
	background-color: rgb(120,94,224);
	background-color: rgba(120,94,224,.7);
	top: 57%;
	transition: 0.4s;
}
.case_list {
	margin-top: 40px;
}
.case_box p {
	text-align: center;
	font-size: 16px;
	margin: 20px 0;
	transition: 0.3s;
}
a.full {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: 0;
	left: 0;
	z-index: 999 !important;
	background-color: #fff;
	opacity: 0;
	filter: Alpha(opacity=0);
	transition: 0.2s;
}
.case_list a.full:hover {
	opacity: 0.1;
	filter: Alpha(opacity=10);
}