article.templates_list {
	width: 92%;
	margin: 86px auto 0;
	padding-top:20px;
}
article.templates_list:after{
	clear:both;
	content:" ";
	display:block;
}
.templates_list .box {
	float: left;
	position: relative;
	width: 30%;
	margin-right: 5%;
	padding-top: 20%;
	margin-bottom: 5%;
}
.templates_list .box>div {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width:100%;
	overflow: hidden;
}
.templates_list .box:after, .other_box:after {
	content: "";
	bottom: -33px;
	left: 0;
	position: absolute;
	width: 100%;
	height: 33px;
	background-image: url(/public/img/shadow.png);
	background-size: 100% 33px;
}
.templates_list .box:nth-child(3n) {
	margin-right: 0;
}
.templates_list .box img {
	position: relative;
	width: 100%;
	height:100%;
	top: 0;
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.templates_list .box a {
	position: absolute;
	width: 100%;
	height: 101%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background-color: transparent;*/
	background-image: url(/public/img/bg.svg);
	background-size: 100% 100%;
	transition: 0.2s;
	z-index: 5;

}
.templates_list .box span {
	position: absolute;
	bottom: -88px;
	left: 2px;
	color: #e4e4e4;
	width: 99%;
	padding-top: 14px;
	padding-bottom: 34px;
	font-size: 15px;
	background: #282a32;
	text-align: center;
	-webkit-transition-delay: .1s;
	-o-transition-delay: .1s;
	transition-delay: .1s;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.templates_list .box:hover span{
	bottom: 0px;
}
.templates_list .box:hover img{
	top: -20px;
}
.templates_list .box span em {
	font-style: normal;
	display: inline-block;
	padding: 3px 6px;
	color: #fff;
	background: #98af2b;
	border-radius: 4px;
	margin-right: 6px;
}
.page {
	position: relative;
	height: 120px;
	text-align: center;
	font-size: 0;
}
.page li {
	position: relative;
	/*top: 50px;*/
	display: inline-block;
	margin: 0 2px;
	background-color: #fff;
	transition: 0.3s;
}
.page li a {
	display: inline-block;
	font-size: 18px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #555;
	box-sizing: border-box;
}
.page_on a {
	color: #fff !important;
	background-color: #94b733;
}
.page li:hover {
	opacity: 0.6;
}
#pages {
	padding: 10px 0 40px;
	height: 36px;
	text-align: center;
}